.recipe-card {
	width: 31%;
	min-width: 240px;
	max-width: 360px;
	margin: 1%;
	border: 1px solid rgba (160, 160, 160, 0.2);
	background: white;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
	text-align: left;
}

.recipe-card-content {
	padding: 16px;
}

.recipe-card-image{
	overflow: hidden;
	height: 50%;
}

.recipe-card img {
	width: 100%;
	max-height: 250px;
}

.recipe-title{
	margin: 0;
	text-align: center;
}

li {
	font-size: 0.9em;
}

p {
	font-size: 0.9em;
}

.remove {
	float: right;
	margin-right: 15px;
}